@{
    ViewData["Title"] = "Employee Details";
}

@model ListEmployees1.Models.Employee
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Select">Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="FilterDetails">Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="InsertEmployeeDetails">Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="UpdateEmployeeDetails">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DeleteEmployeeDetails">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <h2>Filter Employee Details</h2>
    <div class="row">
        <div class="col-md-4">
            
            <form asp-action="FilterDetails">

                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <input type="submit" class="button" value="Submit" />
                </div>
            </form>

            <br />
            <h4>
                Employee Information
            </h4>
            <p>
                <div> Id:@ViewBag.Id</div>


                <div>Name:@ViewBag.Name</div>

                <div>DepartmentName:@ViewBag.DeptName</div>
                <div>Data of Birth:@ViewBag.dob </div>
                <div>Address:@ViewBag.Address</div>
            </p>


            <br />

            <a asp-action="InsertEmployeeDetails" class="previous round">&#8249;</a>
            <a asp-action="UpdateEmployeeDetails" class="next round">&#8250;</a>
            </div>
            </div>
</body>

