
<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Select">Select</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="InsertEmployeeDetails">Insert</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="FilterDetails">FilterSelect</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="UpdateEmployeeDetails">Update</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DeleteEmployeeDetails">Delete</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>