@model ListEmployees1.Models.Employee
@{
    ViewData["Title"] = "InsertEmployeeDetails";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Select">Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="FilterDetails">Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="InsertEmployeeDetails">Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="UpdateEmployeeDetails">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DeleteEmployeeDetails">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>Insert Employee</h2>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All"></div>
        <form asp-action="InsertEmployeeDetails">

            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-user"></i>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-book"></i>
                <label asp-for="DeptName" class="control-label"></label>
                <br />
                <input type="radio" asp-for="DeptName" value="IT Operations" /> IT Operations
                <input type="radio" asp-for="DeptName" value="Catalogue" /> Catalogue
                <input type="radio" asp-for="DeptName" value="Analyst" /> Analyst
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-usd"></i>
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
            </div>
            <div>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-pencil"></i>
                <input type="checkbox" id="isActive" name="IsActive" value="true">
                <label for="isActive">Active</label>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-calendar"></i>
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-usd"></i>
                <label asp-for="Basic" class="control-label"></label>
                <input asp-for="Basic" class="form-control" />
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-usd"></i>
                <label asp-for="HRA " class="control-label"></label>
                <input asp-for="HRA" class="form-control" />
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-usd"></i>
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-usd"></i>
                <label asp-for="Allowances" class="control-label"></label>
                <input asp-for="Allowances" class="form-control" />
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <i class="glyphicon glyphicon-home"></i>
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" class="button" value="Insert" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Select" class="button">View Employee Details</a>

</div>
<br />
<a asp-action="Select" class="previous round">&#8249;</a>
<a asp-action="FilterDetails" class="next round">&#8250;</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
