@model ListEmployees1.Models.Login;
<h2>Logout</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Index" method="post">

            <div class="form-group">
                <label asp-for="username" class="control-label">Do You Want Logout</label>
                <input asp-for="username" class="form-control" />
            </div>
            <br />


            @Html.ValidationMessageFor(m => m.username, " ", new { @class = "text-danger" })
            <br />
            <h6>@ViewBag.ErrorMessage</h6>
            <div>
                <input type="submit" class="button" value="Logout" />
            </div>
        </form>
    </div>
</div>
